@charset "utf-8";
.indexabg { background: url(index_abg.gif) center top repeat-y; text-align:center; position:relative; margin:0px; padding:0px;}
.indextabg { background: url(index_atbg.gif) center top no-repeat; text-align:center; position:relative;  margin:0px; padding:0px;}
.indexcenterdiv { width:1000px; margin:0 auto;}
img { border:0; }

/*以上为全局*/

.indextprtt {
	font-size: 12px;
	font-weight: normal;
	color: #cacaca;
	text-decoration: none;
}
.indextprtt:link {
	font-size: 12px;
	font-weight: normal;
	color: #555555;
	text-decoration: none;
}
.indextprtt:visited {
	font-size: 12px;
	font-weight: normal;
	color: #555555;
	text-decoration: none;
}
.indextprtt:hover {
	color: #0784ee;
}



.indexzyfw  {font-size:12px; font-weight:bold;	text-align:left; color:#3f3f40; padding-top:8px; }
.indexzyfw a {font-size:12px; font-weight:bold;	text-align:left; color:#3f3f40; text-decoration:none; }
.indexzyfw a:hover {color:#ff6600; }
/*弹出菜单*/
.indexdivm { width:195px; background: url(10index_tcmenu1.gif) top left no-repeat; visibility: hidden; position:absolute; padding-top:3px;}
.indexdivm td { color:#5a5a5a; font-size:12px; }
.indexdivm td a { color:#5a5a5a; font-size:12px; text-decoration:none; }
.indexdivm td a:hover { color:#e87814; }

.indexyr12b {
	font-size: 12px;
	font-weight: bold;
	color: #a97315;
	text-decoration: none;
}
.indexyr12b:hover {
	font-size: 12px;
	font-weight: bold;
	color: #d91212;
	text-decoration: underline;
}
.indexzh12 {
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.indexblue13 {
	font-size: 13px;
	font-weight: normal;
	color: #1f5fb6;
	text-decoration: none;
}
.indexblue13:hover {
	font-size: 13px;
	font-weight: normal;
	color: #d55b0a;
	text-decoration: none;
}
.indexblue13b {
	font-size: 13px;
	font-weight: bold;
	color: #256bb9;
	text-decoration: none;
}
.indexyellow13b {
	font-size: 13px;
	font-weight: bold;
	color: #b25d12;
	text-decoration: none;
}
.indexy12l18 {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #9c6f27;
	text-decoration: none;
}
.indexy12l18:hover {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #616161;
	text-decoration: underline;
}
.indexb13b {
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.indexzxsp {
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	color: #7b6428;
	text-decoration: none;
}
.indexzxsp:hover {
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	color: #ad421c;
	text-decoration: underline;
}